.comandos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin: auto;

}
.btn-volver{
    color: white;
    width: 100% !important ;

}
.volver {
    text-decoration: none !important;
    color: white;
  
}
.btn-guardar{
    width: 100% !important;
}